  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 6px 6px 0px 6px;
  }
  
  #side-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    height: calc(100vh - 70px);
  }

  .synchronize {
    align-self: flex-end;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 6px;
    padding: 6px 12px;
    border-radius: 18px;
    background-color: #e3f2fd;
  }

  .synchronize:hover {
    background-color: #bbdefb;
  }

  #login:hover {
    color: blue;
    cursor: pointer;
  }

  #login.hidden {
    display: none;
  }

  .message-history-wrapper{
    overflow-y: scroll;
    padding: 8px;
  }

  #message-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 10px;
  }
  
  .message-bubble {
    background-color: #f0f0f0;
    border-radius: 18px;
    padding: 10px 15px;
    overflow-wrap: break-word;
    max-width: 80%;
  }
  
  .user-role {
    background-color: #e3f2fd;
    border: 1px solid #bbdefb;
    border-bottom-right-radius: 0;
    align-self: end;
  }
  
  .assistant-role {
    background-color: #fff3e0;
    border: 1px solid #ffe0b2;
    border-bottom-left-radius: 0;
    align-self: start;
  }

  .message-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    padding: 16px;
    background-color: #fefeff;
    border: 1px solid #bbdefb;
    border-radius: 18px;
  }

  textarea {
    resize: none;
  }

  #loading-indicator {
    display: none; 
    margin-top: 10px;
  }

  .submit-button {
    padding: 6px 8px;
    border-radius: 18px;
    background-color: #e3f2fd;
    font-size: 20px;
  }

  .submit-button:hover {
    background-color: #bbdefb;
  }

  .send-icon:hover {
    cursor: pointer;
    color: blue;
  }

  .message-history-wrapper::-webkit-scrollbar {
    width: 8px;
  }
  
  .message-history-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
  }
  
  .message-history-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .message-history-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }  